{% load static %}

<html>
      <head>
            <title>Bootstrap Example</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="{% static 'home/ritzychifon.css' %}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
         
<link rel="stylesheet" href="{% static 'style.css' %}">
<script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js' %}"></script>
            <script src="{% static 'style.js' %}"></script>
      </head>
<body style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
      <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#" >About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
          </div>
<div class="head">
      <div class="top-left" style="color: aliceblue;">
      <span style="font-size:40px;cursor:pointer" onclick="openNav()">&#9776; </span>
      </div>
      <div class="top-right">
            <img src="https://i.suar.me/KXYWZ/m" width="25px" style="margin:10px">
            <img src="https://i.suar.me/y28Be/m" width="25px" style="margin:10px">
      </div>
      <div class="centered1">
<img src="https://ritzyscarves.com/cdn/shop/files/white_logo_110x@2x.png?v=1693777162" width="50%">
            </div>
            <div class="centered2">
             <h1 style="font-size: 80px; color:#FEE9E8;">Chiffon</h1>
            </div>
</div>
</div><br><br>

<div class="container">
<p> Home / Chiffon / sale</p>
<div class="row">
      <div class="col-sm-4">
<div class="w3-dropdown-click">
      <button class="button"onclick="dropFunction()">filter <i class="arrow up" style="margin-left: 100px;"></i></button>
      <div class="w3-dropdown-content w3-bar-block w3-card w3-black" id="myDIV">
        <a class="w3-bar-item w3-button" href="#about">About</a>
        <a class="w3-bar-item w3-button" href="#base">Base</a>
        <a class="w3-bar-item w3-button" href="#blog">Blog</a>
        <a class="w3-bar-item w3-button" href="#contact">Contact</a>

      </div></div></div>

      <div class="col-sm-2" style="margin-left:480px;">
            <div class="w3-dropdown-click">
                  <button class="button"onclick="dropFunction1()">sort <i class="arrow up" style="margin-left: 100px;"></i></button>
                  <div class="w3-dropdown-content w3-bar-block w3-card w3-black" id="myDIV1">
                    <a class="w3-bar-item w3-button" href="#about">About</a>
                    <a class="w3-bar-item w3-button" href="#base">Base</a>
                    <a class="w3-bar-item w3-button" href="#blog">Blog</a>
                    <a class="w3-bar-item w3-button" href="#contact">Contact</a>
            
                  </div></div></div></div><br>
                  <!-----1-->

  <div class="row">
      {% block content %}
      {% for Chifon in Chifons %}
      <div class="col-sm-3"  style="margin-top: 80px;">
<div class="pic" style="background-image: url('{{Chifon.image}}');">
      <div class="middle">
            <div class="text">Quick view</div></div>
            <div class="w3-display-topright sold">
                  {{ Chifon.status }}</div>
</div>
<h3>{{ Chifon.namescarf }}</h3>
<p>{{ Chifon.name }}</p>
<h5><del>{{ Chifon.pricesale}}</del> <spam> {{ Chifon.price}}</spam></h5>
      </div>
      {% endfor %}
      {% endblock %}
  </div>
</div>
  </div>
     
<p style="text-align: center; margin: 70px;">
      <a href="ritzychifon.html" > 2</a>
      1
      <a href="ritzychifon.html" class="next round">&#8250;</a>

</p>
    </div>
</div>

<script>
      // Dropdown
      function dropFunction() {
        var x = document.getElementById("myDIV");
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else {
          x.className = x.className.replace(" w3-show", "");
        }
      }
      
      // Filter
      function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDIV");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
          txtValue = a[i].textContent || a[i].innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
          } else {
            a[i].style.display = "none";
          }
        }
      }
      </script>
      <script>
            // Dropdown
            function dropFunction1() {
              var x = document.getElementById("myDIV1");
              if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
              } else {
                x.className = x.className.replace(" w3-show", "");
              }
            }
            
            // Filter
            function filterFunction1() {
              var input, filter, ul, li, a, i;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              div = document.getElementById("myDIV1");
              a = div.getElementsByTagName("a");
              for (i = 0; i < a.length; i++) {
                txtValue = a[i].textContent || a[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  a[i].style.display = "";
                } else {
                  a[i].style.display = "none";
                }
              }
            }
            </script>
<script>
      function openNav() {
             document.getElementById("mySidenav").style.width = "250px";
             document.numbertext.style.backgroundColor = "rgba(0,0,0,0.4)";
             document.head.style.backgroundColor = "rgba(0,0,0,0.4)";

     
           }
           
           function closeNav() {
             document.getElementById("mySidenav").style.width = "0";
             document.numbertext.style.backgroundColor = "white";
             document.head.style.backgroundColor = "white";

     
             }
     </script>
<div class="container-fluid"
style="background-color: FEE9E8; padding: 50px;font-size: 15px;font-family:Georgia, 'Times New Roman', Times, serif;">
<div class="row">
      <div class="col-sm-3">
            <p>
                  <img src="https://ritzyscarves.com/cdn/shop/files/ritzy-logo-transparent_x50@2x.png?v=1693776106"
                        width="150px">
            </p>
            <p>
                  <img src="https://i.suar.me/edd7P/m" width="30px">
                  <img src="https://i.suar.me/PXYZQ/m" width="30px">
            </p>
      </div>
      <div class="col-sm-3">
            <h6> MAIN MENU</h6>
            <p> Home</p>
            <p> All Product</p>
            <p> Our story</p>
            <p> Reach out</p>
            <p> Sale</p>
      </div>
      <div class="col-sm-3">
            <h6> OUR POLICES</h6>
            <p> Refunds & Exchanges</p>
            <p> Shipping Policy</p>
            <p> Privacy Policy</p>
            <p> Terms of Service</p>
            <p>Search</p>
            <p>Contact Information</p>
      </div>
      <div class="col-sm-3">
            <h6> SIGN UP!</h6>
            <p> Subscribe to get special offers,</p>
            <p> free giveaways, and once-in-a-</p>
            <div class="w3-panel w3-border w3-border-black">
                  <h6><img src="https://i.suar.me/l77wN/m" width="20px">
                        Enter your email</h6>
            </div>
      </div>
</div>
<div style="text-align: center;">
      <p>Designed & Developed By DIGITIX Agency.</p>
      <p>© 2023 Ritzy Scarves | All Rights Reserved.</p>
      <img src="https://cdn.shopify.com/s/files/1/0818/5118/7492/files/visa_logo.png?v=1694263673"
            width="40px">
      <img src="https://cdn.shopify.com/s/files/1/0818/5118/7492/files/master_card_logo.png?v=1694263674"
            width="40px">
      <img src="https://cdn.shopify.com/s/files/1/0818/5118/7492/files/american_express_logo.png?v=1694263674"
            width="25px">
</div>
</div>
</body></html>